.logoContainer{
    width: 20px;
}
.img{
    width: 100%;
}
.searchInputContainer{
    width: 400px;
    height: 45px;
    border:1 px solid black;
    /* outline:1px solid rgb(126, 126, 126); */
    display: flex;
    margin-left: 65px;
    border-radius: 3px;
    align-items: center;
    padding: 10px;
    position: relative;
}
.searchIcon{
    width: 20px;
    margin: 20px;
}
form{
    width: 100%;
}
.inputSearch{
    width: 100%;
    border:none;
    outline: none;
    font-size: 16px;
}
#closeSearch{
    display: none;
}
